# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment variables
.env
.env.local
.env.production

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Database
*.db

# Migrations (temporaire pour développement)
*/migrations/0*.py

# Coverage
htmlcov/
.coverage
.coverage.*
coverage.xml

# Pytest
.pytest_cache/

# Celery
celerybeat-schedule
celerybeat.pid

# Docker
.dockerignore
Dockerfile
docker-compose.yml


# Fichiers de configuration locaux
gestore_backend/gestore/settings/localhost.py
gestore_backend/gestore/settings/cloud.py

# Fichiers générés par Flutter
gestore_desktop/pubspec.lock
gestore_desktop/macos/Flutter/GeneratedPluginRegistrant.swift